{% extends 'layouts/master.html' %}

{% block content %}

<div class="container">
    <h1>Selected Products for Printing</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
          </tr>
        </thead>
        <tbody>
        {% for product in selected_products %}
          <tr>
            <td>{{ product.category }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.position }}</td>
          </tr>
        {% empty %}
        <ul>
          <li>No products selected.</li>
        </ul>
        {% endfor %}
        </tbody>
      </table>
      <div class="text-center mb-3">
      <button class="btn btn-success center" id="printButton">Imprimer</button>
      </div>
    <script>
        document.getElementById('printButton').addEventListener('click', function() {
            window.print();
        });
    </script>
    <form action="{% url 'product_search' %}" method="GET">
        <button type="submit">Back to Product Search</button>
    </form>
</div>
{% endblock content %}
    