{% extends 'layouts/master.html' %}
{% block content %}
<div class="container">
    <h1>Recherche des produits</h1>
    
    <form method="GET">
        <input type="text" name="q" placeholder="Rechercher un produit " value="{% if query and query != 'none' %}{{ query }}{% endif %}">
        
        <select name="category">
            <option value="">toutes les catégories</option>
            <option value="TRP" {% if category == 'TRP' %}selected{% endif %}>TRP</option>
            <option value="C50" {% if category == 'C50' %}selected{% endif %}>C50</option>
            <option value="APOLLO" {% if category == 'APOLLO' %}selected{% endif %}>APOLLO</option>
            <option value="G-STREET" {% if category == 'G-STREET' %}selected{% endif %}>G-STREET</option>
            <option value="MINI-JET" {% if category == 'MINI-JET' %}selected{% endif %}>MINI-JET</option>
            <option value="CITY" {% if category == 'CITY' %}selected{% endif %}>CITY</option>
            <option value="CRUZER" {% if category == 'CRUZER' %}selected{% endif %}>CRUZER</option>
            <option value="ALPHA" {% if category == 'ALPHA' %}selected{% endif %}>ALPHA</option>
            <option value="C100" {% if category == 'C100' %}selected{% endif %}>C100</option>
            <option value="110CC" {% if category == '110CC' %}selected{% endif %}>110CC</option>
            <option value="DJ50" {% if category == 'DJ50' %}selected{% endif %}>DJ50</option>
            <option value="FAME XR" {% if category == 'FAME XR' %}selected{% endif %}>FAME XR</option>
            <option value="FIFTY" {% if category == 'FIFTY' %}selected{% endif %}>FIFTY</option>
            <option value="C90" {% if category == 'C90' %}selected{% endif %}>C90</option>
            <option value="FAME GAMA" {% if category == 'FAME GAMA' %}selected{% endif %}>FAME GAMA</option>
            <option value="FAME XS" {% if category == 'FAME XS' %}selected{% endif %}>FAME XS</option>
            <option value="S50" {% if category == 'S50' %}selected{% endif %}>S50</option>
            <option value="MILANO" {% if category == 'MILANO' %}selected{% endif %}>MILANO</option>  
            <option value="TANK" {% if category == 'TANK' %}selected{% endif %}>TANK</option>                      
        </select>
        <button type="submit">Recherche</button>
    </form>
    
    <form action="{% url 'clear_selection' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Effacer la sélection</button>
    </form>
    <form action="{% url 'print_products' %}" method="POST">
        {% csrf_token %}
        <!-- form fields and products listing -->
        <button class="btn btn-info mb-3" type="submit" name="action" value="save_and_stay">Sauvgarder</button>
        <button class="btn btn-success mb-3" type="submit" name="action" value="save_and_print">Imprimer</button>
        <table class="product-table">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Nom</th>
                    <th>Position</th>
                    <th>Reference</th>
                    <th>Categorie</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            <input type="checkbox" name="selected_products" value="{{ product.id }}"
                                   {% if product.id in selected_product_ids %}checked{% endif %}>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.position }}</td>
                        <td>{{ product.reference }}</td>
                        <td>{{ product.get_category_display }}</td>
                        <td>
                            {% if product.active %}
                                <span class="circle circle-green"></span> Active
                            {% else %}
                                <span class="circle circle-red"></span> Inactive
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">Aucun produit trouvé.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>   
        <!-- Pagination-->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
      
              <!-- First and Previous page links -->
              {% if products.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page=1{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">
                      &laquo; First
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ products.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">
                      Previous
                  </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                  <span class="page-link">&laquo; First</span>
              </li>
              <li class="page-item disabled">
                  <span class="page-link">Previous</span>
              </li>
              {% endif %}
      
              <!-- Pagination links -->
              {% for num in products.paginator.page_range %}
                  {% if products.number == num %}
                  <li class="page-item active" aria-current="page">
                      <span class="page-link">{{ num }}</span>
                  </li>
                  {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">
                          {{ num }}
                      </a>
                  </li>
                  {% elif num == products.number|add:'-3' or num == products.number|add:'3' %}
                  <li class="page-item disabled">
                      <span class="page-link">...</span>
                  </li>
                  {% endif %}
              {% endfor %}
      
              <!-- Next and Last page links -->
              {% if products.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ products.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">
                      Next
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ products.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">
                      Last &raquo;
                  </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                  <span class="page-link">Next</span>
              </li>
              <li class="page-item disabled">
                  <span class="page-link">Last &raquo;</span>
              </li>
              {% endif %}
          </ul>
      </nav>     
    </form>
</div>
{% endblock content %}

