/* products/static/products/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../img/3.jpg');    
    background-size: contain;
    background-position: center center;
    background-repeat: repeat;
    height: 100%;
}

.container {
    max-width: 80%;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"], select {
    padding: 10px;
    width: 300px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.product-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.circle-green {
    background-color: #28a745; 
}

.circle-red {
    background-color: #dc3545; 
}

header {
    background-color: rgb(255, 255, 255,0.9); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 5px 15px; 
}

.logo{
    width: 70px;
    height: auto; 
}

footer {
    background-color: rgba(226, 20, 20, 0.9);
    color: black;
    text-align: center;
    padding: 10px;
    position: sticky; 
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

